# Gradle & Build files
.gradle/
build/
/build

# Local configuration
local.properties

# Android Studio & IntelliJ files
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
.DS_Store

# Google Services & Keys (Crucial for Android)
google-services.json
*.jks
*.keystore

# Logs & Profiling
*.log
*.hprof
